__pycache__/
*.pyc
# virtualenvs
venv/
.env

# py test caches
.pytest_cache/
.mypy_cache/

# coverage files
.coverage
htmlcov/

# build artifacts
build/
dist/
*.egg-info/

docs/_build/

# IDEs
.vscode/
.idea/
.ropeproject/

# generated data
*.nii
*.nii.gz
*.png

